In [22]:
import pandas as pd
import numpy as np
file_path = 'https://cocl.us/datascience_survey_data'
df=pd.read_csv(file_path,index_col=0)
df.head()

                            Very interested  ...  Not interested
Big Data (Spark / Hadoop)              1332  ...             127
Data Analysis / Statistics             1688  ...              60
Data Journalism                         429  ...             610
Data Visualization                     1340  ...             102
Deep Learning                          1263  ...             136

[5 rows x 3 columns]

In [24]:
df.shape

(6, 3)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Big Data (Spark / Hadoop) to Machine Learning
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Very interested      6 non-null      int64
 1   Somewhat interested  6 non-null      int64
 2   Not interested       6 non-null      int64
dtypes: int64(3)
memory usage: 192.0+ bytes